---
title: "Legal"
permalink: "legal.html"
---

{% include banner.html banner=3 text="Legal" %}

<section>
  <p>Lambert Intellectual Property Law™ is the business name for legal practices that provide legal services in Canada through two separate firms, Anthony Lambert Professional Corporation, in Alberta, and Adrian Lambert (sole proprietorship), in Ontario. Each law firm only practices law in the respective province in which it is based.</p>

  <p>The information provided on this website does not constitute legal advice and no solicitor and client relationship is established with Lambert IP Law solely by a person visiting our website. No solicitor and client relationship is established between Lambert IP Law and a client unless we provide you with our terms of service, including the basis of our fees, and confirm what we have been retained to do.</p>

  <p>Any link to another website is provided for information only, and Lambert IP Law is not responsible for the content of those websites.</p>

  <p>Confidentiality is at the heart of the lawyer-client relationship. All communications with Lambert IP Law by a client or potential client will be treated as confidential. Please see our <a href="#privacypolicy">Privacy Policy</a> for further information on how we treat our clients’ information.</p>

  <p>Business operated by Anthony Lambert Professional Corporation and Adrian Lambert (sole proprietorship), licensed users of the business name.</p>
</section>

<div id="privacypolicy"></div>
{% include banner.html banner=3 text="Privacy Policy" %}
<section>
  <ol>
    <li>The privacy compliance officer is Tony Lambert.</li>

    <li>Lambert IP Law collects A) contact information for clients, B) addresses and citizenship of inventors and authors, C) personal information of employees required for contacting employees and tax purposes and D) personal information of potential employees.</li>

    <li>Personal information is collected for the purposes of A) contacting clients, B) filing, prosecuting, defending, issuing and maintaining applications for intellectual property rights, C) contacting employees and tax purposes and D) evaluating potential employees.</li>

    <li>Consent to the use of the personal information is obtained A) upon accepting the retainer from the client or in the case of prospective clients, implicitly by the prospective client contacting the firm and freely leaving contact information, B) upon preparation of an application for an intellectual property right, C) upon hiring the employee and D) upon accepting an application from a potential employee.</li>

    <li>Consent is obtained by A) delivery and acceptance of the Lambert IP Law terms of service, B) a notification concerning the disclosure of the information in an assignment or in a petition, implicitly or explicitly, C) by provision of this notice to any employee and the continuing employment of that employee, and D) by notice of this policy in any advertisement of employment opportunities.</li>

    <li>All personal information collected by Lambert IP Law is kept confidential except to the extent required to fulfil the purposes of items A, B, C or D in paragraph 3 above. Lambert IP Law does not use this information otherwise and does not disclose the information except as indicated here or as required by law or a court order.</li>

    <li>All personal information collected by Lambert IP Law is kept confidential within the files related to the particular matter concerned and destroyed according to the disposal requirements of the Law Society of Alberta and Revenue Canada. Employees may not access the personal information of other employees except as required to contact them or as required for payroll and tax purposes. Only employees with a need to know personal information in a file may access it.</li>

    <li>Lambert IP Law restricts access to its premises. No unauthorized person is allowed to enter.</li>

    <li>Any indication of an intruder to the computer system shall be reported to the compliance officer.</li>
  </ol>
</section>
