---
title: "Our People"
permalink: "ourpeople.html"
---

{% include banner.html banner=2 text="Our People" %}

<div id="people-sidebar" class="sidebar">
  <div class="title">
    Our people
  </div>

  <div class="people">
    <a class="person" href="#tonylambert">Tony Lambert</a>
    <a class="person" href="#adrianlambert">Adrian Lambert</a>
    <a class="person" href="#simonlambert">Simon Lambert</a>
    <a class="person" href="#drjordanbirenbaum">Dr. Jordan Birenbaum</a>
    <a class="person" href="#kimfreeman">Kim Freeman</a>
  </div>
</div>

<section id="aboutus">
  <p>Lambert IP Law provides legal services in all areas of intellectual property law, including patents, trademarks, copyright, Industrial Design, trade secrets and related litigation.</p>

  <p>Lambert IP Law provides services to a wide range of clients, from individuals to large companies and government agencies. Our clients are from around the world, and include a large number of Alberta based companies.</p>

  <p>Lambert IP Law works to keep abreast of technological advances to provide cost effective, timely services to our clients.</p>
</section>

<div id="tonylambert" class="description-section person-section sidebar-reference">
  <div class="title portrait">
    <img src="{{ site.url }}/img/portrait_tony.jpg" />
  </div>

  <h3 class="name">
    Tony Lambert,<br/>
    BSc., LL.B.
  </h3>

  <div class="text">
    <p><span>Tony Lambert</span> has a BSc (Honors) in Geophysics, is a registered patent agent in Canada and the United States since 1987, and has been a lawyer registered with the Alberta Law Society since 1984. His main practice areas are electrical and mechanical patents. Tony Lambert is the sole owner of Lambert Intellectual Property Law (Alberta). His clients include a variety of companies and organizations from Canada and around the world. Tony Lambert also conducts patent and trademark litigation. More detailed information can be found in the <a href="http://www.lambertlaw.ca/tonyLambert.html">resume</a> of Tony Lambert.</p>
  </div>
</div>

<div id="adrianlambert" class="description-section person-section">
  <div class="title portrait">
    <img src="{{ site.url }}/img/portrait_adrian.jpg" />
  </div>

  <h3 class="name">
    Adrian Lambert,<br/>
    BSc., JD
  </h3>

  <div class="text">
    <p><span>Adrian Lambert</span> has a BSc (Honors) in Mathematics, is a registered patent agent in Canada since 2007 and has been a lawyer registered with the Law Society of Upper Canada since 2011. He has experience in all areas of intellectual property and specializes in patent prosecution and litigation. His patent experience includes technologies in a wide range of fields, including oil and gas technology, telecommunications, software engineering, construction, business systems, medical devices, and high tech patents, and he has appeared before the Federal Court and Federal Court of Appeal.</p>
  </div>
</div>

<div id="simonlambert" class="description-section person-section">
  <div class="title portrait">
    <img src="{{ site.url }}/img/portrait_simon.jpg" />
  </div>

  <h3 class="name">
    Simon Lambert,<br/>
    MSc., JD
  </h3>

  <div class="text">
    <p><span>Simon Lambert</span> is a registered Canadian patent agent, has a Masters degree in theoretical physics and is an articling student with Lambert IP Law. As a student, Simon was one of the top young physicists in Canada, placing in the top 10 of national physics competitions on multiple occasions. Simon works on coplex mathematical, engineering, and physics patent applications.</p>
  </div>
</div>

<div id="drjordanbirenbaum" class="description-section person-section">
  <div class="title portrait">
    <img src="{{ site.url }}/img/portrait_jordan.jpg" />
  </div>

  <h3 class="name">
    Dr. Jordan Birenbaum,<br/>
    PhD, JD
  </h3>

  <div class="text">
    <p><span>Dr. Jordan Birenbaum, PhD, JD</span> is a lawyer called to the bars of Ontario and Alberta. Jordan is a native of Alberta, having returned home after spending over a decade working and studying overseas, in Quebec, and in Ontario, including completing his articles with the Ministry of the Attorney General in Toronto. During his studies, Jordan was the recipient of numerous funded academic awards, including a Tri-Council Canada Graduate Studies Doctoral Fellowship and an Ontario Graduate Scholarship.</p>
  </div>
</div>

<div id="kimfreeman" class="description-section person-section">
  <div class="title portrait">
    <img src="{{ site.url }}/img/portrait_kim.jpg" />
  </div>

  <h3 class="name">
    Kim Freeman<br/>
    BSc.
  </h3>

  <div class="text">
    <p><span>Kim Freeman</span>has a BSc. in Biology and is a technical and legal assistant with nine years of experience working for the firm. She stood in the top 1% of those writing the Law School Admission Test in 2013.</p>
  </div>
</div>

<div id="community"></div>
{% include banner.html banner=2 text="Community" %}

<section class="sidebar-hide">
  <p>Lambert IP Law is a strong supporter of amateur sports. Lambert IP Law sponsors various sporting organizations and events, including the Canadian Mountain Running Association.</p>

  <p>Members of Lambert IP Law are also active as community volunteers, including acting as volunteer directors of sport organizations, churches, and other organizations.</p>
</section>
