---
title: "Our Work"
permalink: "ourwork.html"
---

{% include banner.html banner=1 text="Our Work" %}

<div id="badges-all" class="badges">
  {% include badges_all.html %}
</div>

<div id="badges-sidebar" class="sidebar">
  <span class="title">
    Our work
  </span>
  {% include badges_all.html %}
</div>

<div id="patents" class="description-section sidebar-reference">
  <h3 class="title">
    Patents
  </h3>

  <div class="text">
    <p>A patent protects a product or a process that has practical application.</p>

    <p>In general, patents protect something if it is how the thing works that makes it valuable. Products include anything under the sun that is made by man including machines, apparatus, tools, and compositions of matter. A process may be any process having a practical application. The laws in some countries limit the extent to which specific processes, such as methods of medical treatment, may be patented.</p>

    <p>A valid patent excludes others from making, using and selling the product or process that is claimed in the patent, in the country in which the patent is issued, for a period of time, typically 20 years from the first filing of a patent application for the product or process. A patent must be first drafted, then filed, prosecuted, issued and then maintained in each country in which protection is desired.</p>

    <p>Lambert IP Law prepares, files, prosecutes and litigates patents directly in Canada, and throughout the world through a network of associates.</p>

    <p>Lambert IP Law has experience in a wide variety of technologies, and particularly in the areas of electrical and mechanical patents, oilfield patents, hydrocarbon chemistry patents, agricultural patents, and computer software and hardware patents.</p>

    <p><b>For an introduction to some of the patent services available on the web, the following websites may be useful:</b>

    <ul>
      <li><b>United States Patent and Trademark Office</b> (USPTO): <a href="https://www.uspto.gov">www.uspto.gov</a></li>
      <li><b>Canadian Intellectual Property Office</b> (CIPO): <a href="https://www.cipo.gc.ca">www.cipo.gc.ca</a></li>
    </ul>

    <p>Basic information may be obtained from these websites, such as preliminary searches for particular technologies. Lambert IP Law cautions that it is not possible to understand the significance of a patent document without knowledge of the relevant laws and experience in how the laws are applied.</p>
  </div>
</div>

<div id="trademarks" class="description-section">
  <h3 class="title">
    Trademarks
  </h3>

  <div class="text">
    <p>A trademark is any mark that distinguishes a product or service provided by one company from products or services provided by others.</p>

    <p>Trademarks exist at common law by virtue of acquiring goodwill from extensive use, and it is not always essential to register a trademark. However, in some cases, registered trademarks may take precedence over common law trademarks, and registration of a trademark, whether used or proposed to be used, is recommended. In some countries, registration is mandatory for protection of a trademark.</p>

    <p>A valid trademark allows its owner to prevent others from using a mark, in the country in which the trademark is valid, in a manner that would be likely to be confusing with the valid trademark. A registered trademark may be renewed indefinitely in 15 year periods by paying the appropriate fees.</p>

    <p>Lambert IP Law has extensive experience in the filing, prosecution and litigation of trademarks in Canada, and in other countries.</p>

    <p><b>For an introduction to some of the trademark services available on the web, the following websites may be useful:</b></p>

    <ul>
      <li><b>United States Patent and Trademark Office</b> (USPTO): <a href="https://www.uspto.gov">www.uspto.gov</a></li>
      <li><b>Canadian Intellectual Property Office</b> (CIPO): <a href="https://www.cipo.gc.ca">www.cipo.gc.ca</a></li>
    </ul>

    <p>Basic information may be obtained from these websites, such as preliminary searches for particular marks. Lambert IP Law cautions that it is not possible to understand the significance of a trademark document without knowledge of the relevant laws and experience in how the laws are applied.</p>
  </div>
</div>

<div id="copyright" class="description-section">
  <h3 class="title">
    Copyright
  </h3>

  <div class="text">
    <p>Copyright protects form of expression, such as in text, sound, drama, photographs or art.</p>

    <p>Copyright in a work exists automatically within Canada,  though some advantages may be obtained by registration of a work, or by providing a copyright notice on the work.  Copyright in a work typically survives the life of its author for a fixed period (50 years in Canada).</p>

    <p>Lambert IP Law will assist copyright owners in obtaining copyright registrations, and has extensive experience in protecting the copyrights of its clients.</p>
  </div>
</div>

<div id="industrialdesigns" class="description-section">
  <h3 class="title">
    Industrial Designs
  </h3>

  <div class="text">
    <p>An industrial design or design patent protects the appearance of a product, such as its shape, configuration or ornamentation.</p>

    <p>The essence of an industrial design is its appearance to the eye. A registered industrial design lasts 10 years in Canada, subject to the payment of a renewal fee after 5 years.</p>

    <p>For products that are not patentable, but whose selling point is at least in part based on its appearance, an industrial design may be useful.</p>

    <p>Lambert IP Law has extensive experience in the filing and prosecution of industrial designs in Canada, and in other countries.</p>

    <p><b>For an introduction to some of the industrial design services available on the web, the following websites may be useful:</b></p>

    <ul>
      <li><b>United States Patent and Trademark Office</b> (USPTO): <a href="https://www.uspto.gov">www.uspto.gov</a></li>
      <li><b>Canadian Intellectual Property Office</b> (CIPO): <a href="https://www.cipo.gc.ca">www.cipo.gc.ca</a></li>
    </ul>

    <p>Basic information may be obtained from these websites, such as preliminary searches for particular designs. Lambert IP Law cautions that it is not possible to understand the significance of an industrial design document without knowledge of the relevant laws and experience in how the laws are applied.</p>
  </div>
</div>

<div id="tradesecrets" class="description-section">
  <h3 class="title">
    Trade Secrets
  </h3>

  <div class="text">
    <p>A trade secret is any kind of business information that is treated confidentially by a company and that is in someway uniquely related to the company that owns it.</p>

    <p>Trade secret rights are not registered, and must be protected by taking steps to keep the information confidential.  Lambert IP Law has extensive experience in the protection of trade secrets.</p>

    <p>In particular, Lambert IP Law advises its clients on how to prevent employees from taking trade secrets, and how companies acquiring staff from other companies can avoid infringing trade secret rights of others.</p>
  </div>
</div>

<div id="litigation" class="description-section">
  <h3 class="title">
    Intellectual Property Litigation
  </h3>

  <div class="text">
    <p>Intellectual property rights may be enforced or challenged through litigation.</p>

    <p>Lambert IP Law has extensive experience in various levels of court, including the Federal Court, Federal Court of Appeal, Alberta Court of Queen’s Bench and the Alberta Court of Appeal. We have represented both rights holders and those defending against claims of infringement brought by other parties.</p>

    <p>Lambert IP Law strives to find a litigation strategy that suits its client’s specific needs and always aims to provide insightful, efficient and effective representation.</p>

    <p>Examples of cases that lawyers at Lambert IP Law have appeared on include the following cases:</p>

    <ul>
      <li><i>University of Alberta v Canada (Attorney General)</i>, 2018 FCA 36</li>
      <li><i>Frac Shack Inc v AFD Petroleum Ltd</i>, 2017 FC 274 </li>
      <li><i>Frac Shack Inc v AFD Petroleum Ltd</i>, 2017 FC 104</li>
      <li><i>Zero Spill Systems (Int’l) Inc v Heide</i>, 2015 FCA 115</li>
      <li><i>Newco Tank Corp v Canada (Attorney General)</i>, 2015 FCA 47</li>
      <li><i>Weatherford Canada Ltd v Corlac Inc</i>, 2012 FC 76</li>
      <li><i>417394 ALBERTA LTD v H2O Co Beverages Ltd</i>, 2005 FC 224</li>
      <li><i>Polansky Electronics Ltd v AGT Ltd</i>, 2003 ABQB 323</li>
      <li><i>Polansky Electronics Ltd v AGT Ltd</i>, 2001 ABCA 164</li>
  </div>
</div>
<br/>
