---
title: "Our work"
permalink: "ourwork.html"
---

{% include banner.html banner=1 text="Our work" %}

<div id="badges_all" class="badges">
  {% include badges_all.html %}
</div>

<div id="badges-sidebar" class="sidebar">
  <span class="title">
    Our work
  </span>
  {% include badges_all.html %}
</div>

<div id="patents" class="work-section">
  <h3 class="title">
    Patents
  </h3>

  <div class="text">
    A patent protects a product or a process that has practical application. In general, patents protect something if it is how the thing works that makes it valuable. Products include anything under the sun that is made by man including machines, apparatus, tools, and compositions of matter. A process may be any process having a practical application. The laws in some countries limit the extent to which specific processes, such as methods of medical treatment, may be patented.

    A valid patent excludes others from making, using and selling the product or process that is claimed in the patent, in the country in which the patent is issued, for a period of time, typically 20 years from the first filing of a patent application for the product or process. A patent must be first drafted, then filed, prosecuted, issued and then maintained in each country in which protection is desired.

    Lambert IP Law prepares, files, prosecutes and litigates patents directly in Canada, and throughout the world through a network of associates.

    Lambert IP Law has experience in a wide variety of technologies, and particularly in the areas of electrical and mechanical patents, oilfield patents, hydrocarbon chemistry patents, agricultural patents, and computer software and hardware patents.

    For an introduction to some of the patent services available on the web, the following websites may be useful:

    <ul>
      <li>United States Patent and Trademark Office (USPTO): www.uspto.gov</li>
      <li>Canadian Intellectual Property Office (CIPO): www.cipo.gc.ca</li>
    </ul>

    Basic information may be obtained from these websites, such as preliminary searches for particular technologies. Lambert IP Law cautions that it is not possible to understand the significance of a patent document without knowledge of the relevant laws and experience in how the laws are applied.
  </div>
</div>
