<nav id="header">
  <!-- Logo and site ID  -->
  <h1 class="left logo">
    <a href="{{ site.url }}/index.html">
      <img src="./img/logo.jpg" alt="Lambert Intellectual Property Law"/>
    </a>
  </h1>

  <!-- Navigation (desktop) -->
  <div class="middle desktop-menu">
    <div class="menu-item">
      <div class="dropdown-toggle" tabindex=0>
        <a href="{{ site.url }}/ourwork.html">Our work</a>
        <div class="icon down">
          <img src="./img/arrow-down.jpg"/>
        </div>
        <div class="icon up">
          <img src="./img/arrow-up.jpg"/>
        </div>
      </div>

      {% include nav_ourwork.html %}
    </div>

    <div class="menu-item">
      <div class="dropdown-toggle" tabindex=0>
        <a href="{{ site.url }}/ourpeople.html">Our people</a>
        <div class="icon down">
          <img src="./img/arrow-down.jpg"/>
        </div>
        <div class="icon up">
          <img src="./img/arrow-up.jpg"/>
        </div>
      </div>

      {% include nav_ourpeople.html %}
    </div>
  </div>

  <div class="right desktop-menu menu-item">
    <a href="contact.html">Contact us</a>
  </div>

  <!-- Navigation (mobile) -->
  <div id="mobile-menu" class="menu-item">
    <button id="menu-toggle">
      <span>Menu</span>
      <div class="icon">
        <img id="icon-open" src="./img/menu-open.jpg"/>
        <img id="icon-close" src="./img/menu-close.jpg"/>
      </div>
    </button>
  </div>
</nav>

<nav id="mobile-menu-content">
  <div id="overlay"></div>
  <div class="section">
    <div class="left">
      <div class="heading"><a href="ourwork.html">Our work</a></div>
      {% include nav_ourwork.html %}
    </div>

    <div class="right">
      <div class="heading"><a href="ourpeople.html">Our people</a></div>
      {% include nav_ourpeople.html %}
    </div>
  </div>

  <div class="section">
    <div class="heading"><a href="contact.html">Contact us</a></div>
  </div>
</nav>
