<nav id="header">
  <div class="left logo">
    <img src="./img/logo.svg"/>
  </div>

  <div class="middle mobile-hide">
    <div class="menu-item">
      <a href="#">Our work</a>
      <div class="icon">
        <img src="./img/arrow-down.svg"/>
      </div>

      <ul class="dropdown">
        <li class="menu-item">
          <a href="#">Patents</a>
        </li>
        <li class="menu-item">
          <a href="#">Trademarks</a>
        </li>
        <li class="menu-item">
          <a href="#">Copyright</a>
        </li>
        <li class="menu-item">
          <a href="#">Industrial Designs</a>
        </li>
        <li class="menu-item">
          <a href="#">Trade Secrets</a>
        </li>
        <li class="menu-item">
          <a href="#">Litigation</a>
        </li>
      </ul>
    </div>

    <div class="menu-item">
      <a href="#">Our people</a>
      <div class="icon">
        <img src="./img/arrow-down.svg"/>
      </div>

      <ul class="dropdown">
        <li class="menu-item">
          <a href="#">About us</a>
        </li>
        <li class="menu-item">
          <a href="#">Community</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="right mobile-hide menu-item">
    <a href="#">Contact us</a>
  </div>
</nav>
