<ul class="dropdown">
  <li class="menu-item">
    <a href="{{ site.url }}/ourwork.html#patents">Patents</a>
  </li>
  <li class="menu-item">
    <a href="{{ site.url }}/ourwork.html#trademarks">Trademarks</a>
  </li>
  <li class="menu-item">
    <a href="{{ site.url }}/ourwork.html#copyright">Copyright</a>
  </li>
  <li class="menu-item">
    <a href="{{ site.url }}/ourwork.html#industrialdesigns">Industrial Designs</a>
  </li>
  <li class="menu-item">
    <a href="{{ site.url }}/ourwork.html#tradesecrets">Trade Secrets</a>
  </li>
  <li class="menu-item">
    <a href="{{ site.url }}/ourwork.html#litigation">Litigation</a>
  </li>
</ul>
