<ul class="dropdown">
  <li class="menu-item">
    <a href="{{ site.url }}/patents.html">Patents</a>
  </li>
  <li class="menu-item">
    <a href="{{ site.url }}/trademarks.html">Trademarks</a>
  </li>
  <li class="menu-item">
    <a href="{{ site.url }}/copyright.html">Copyright</a>
  </li>
  <li class="menu-item">
    <a href="{{ site.url }}/industrial-designs.html">Industrial Designs</a>
  </li>
  <li class="menu-item">
    <a href="{{ site.url }}/trade-secrets.html">Trade Secrets</a>
  </li>
  <li class="menu-item">
    <a href="{{ site.url }}/litigation.html">Litigation</a>
  </li>
</ul>
