// General rules and overrides
* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-default;

  @media all and (max-width: $tablet) {
    font-size: $font-mobile;
  }
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

// Override HTML element defaults
button {
  border: 0;
  color: inherit;
  background-color: transparent;
  text-transform: inherit;

  &:focus, &:active {
    outline: 0;
  }
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
p, li, footer {
  a {
    border-bottom: 1px dotted;
  }
  a:hover, a:focus {
    border-bottom: 1px solid;
  }
}

ul li {
  list-style: disc;
  list-style-position: inside;
  line-height: 2em;
}
nav {
  ul {
    padding: 0;

    li {
      list-style: none;
      list-style-position: inside;
    }
  }
}

// Body/container layout, styling
body {
  background-color: $grey;
  height: auto;
}

section {
  padding: $space-xxl;
  font-size: $font-lg;
  text-align: center;

  p {
    display: block;
    position: relative;
    text-align: left;
    max-width: 960px;
    @media all and (min-width: 1024px) {
      left: 50%;
      margin-left: -480px;
    }
  }

  @media all and (max-width: $phone-landscape) {
    padding: $space-lg;
    font-size: $font-mobile;
  }
}

// Text
p {
  line-height: 2em;
}

// Images
.icon {
  width: 20px;
  height: 20px;
}
