// General rules and overrides
* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-default;

  @media all and (max-width: $tablet) {
    font-size: $font-mobile;
  }
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

// Override HTML element defaults
button {
  border: 0;
  color: inherit;
  background-color: transparent;
  text-transform: inherit;

  &:focus, &:active {
    outline: 0;
  }
}

a {
  color: inherit;
  background-color: transparent;
}
nav, footer {
  a { text-decoration: none; }
}

ul {
  padding: 0;

  li {
    list-style: none;
    list-style-position: inside;
  }
}

// Body/container layout, styling
body {
  background-color: $grey;
  height: auto;
}

// Images
img {
  max-width: 100%;
  max-height: 100%;
}

.icon {
  width: 20px;
  height: 20px;
}
