// Colours
$black: #000;
$white: #fff;
$red: #c13036;

// Spacing values
$space-default: 8px;
$space-lg: 16px;
$space-xl: 32px;
$nav-height: 96px;

// General layout, mobile widths
$max-width: 1920px;
$tablet: 900px;

// Fonts
$font-sm: 12px;
$font-default: 14px;
$font-mobile: 16px;
$font-lg: 24px;
$font-xl: 36px;
