// Colours
$black: #000;
$white: #fff;
$grey: #fafafa;
$red: #c13036;
$red-lt: rgba($red, 0.95);

// Spacing values
$space-default: 8px;
$space-lg: 16px;
$space-xl: 32px;
$nav-height: 96px;
$nav-height-sm: 48px;

@mixin nav-height($property) {
  #{$property}: $nav-height;

  @media all and (max-width: $tablet) {
    #{$property}: $nav-height-sm;
  }
}

// General layout, mobile widths
$container-width: 100%;
$img-max: 900px;
$tablet: 900px;
$phone-landscape: 600px;
$phone-portrait: 400px;

/*
  z-index values
   10 top menu
  100 top nav
*/

// Fonts
$font-sm: 12px;
$font-default: 14px;
$font-mobile: 16px;
$font-lg: 24px;
$font-xl: 36px;

// Typography
%banner-text {
  font-size: $font-lg;
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 5px;
}

%title-text {
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 5px;
}

// Decorations
%ribbon {
  &:before {
    position: absolute;
    width: 16px;
    height: 16px;
  }
}
