.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 26vw;
  min-height: 240px;

  background-size: cover;
  background-position: center;

  .text {
    @extend %banner-text;
    padding: 0 $space-lg $space-lg;
    border-bottom: 1px solid $white;
  }


  @media all and (min-width: $container-width) {
    width: $container-width;
    height: 348px;
  }
}
