.description-section {
  position: relative;
  width: calc(100% - 320px);
  background-color: $grey;
  box-shadow: 0 0 5px -2px;

  padding: $space-xxl;
  margin-bottom: $space-xxl;

  .title {
    @extend %ribbon;
    display: inline-block;
    position: absolute;
    top: 0;
    margin-top: -$space-lg;

    height: $space-xxl;
    line-height: $space-xxl;
    left: $space-xl;

    @extend %title-text;
    background-color: $red;
    padding: 0 $space-xl;
  }

  .text {
    margin-top: $space-xl;
  }
}
