.description-section {
  position: relative;
  width: calc(100% - 320px);
  background-color: $grey;
  box-shadow: 0 0 5px -2px;

  padding: $space-xxl;
  margin-bottom: $space-xxl;

  .title {
    @extend %ribbon;
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 0;
    margin-top: -$space-lg;

    min-height: $space-xxl;
    left: $space-xl;

    @extend %title-text;
    background-color: $red;
    padding: 0 $space-xl;
  }

  .text {
    margin-top: $space-xl;
  }
}

// only 'Our people'
#tonylambert {
  margin-top: 80px;
}

.person-section {
  .portrait {
    min-width: 240px;
    min-height: 240px;
  }
  .name {
    position: absolute;
    left: 320px;
    font-weight: 300;
    font-style: italic;
    font-size: $font-xl;
  }

  .text {
    margin-top: 240px;
    font-size: $font-mobile;

    p span {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
