.content {
  position: relative;
  z-index: 2;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: $nav-height-sm;
  padding-right: $space-default;

  color: $white;
  background-color: $red-lt;
  position: relative;
  z-index: 1;

  a {
    margin: 0 $space-lg;
  }
}
