#splash-images {
  height: calc(100vh - #{$nav-height});
  min-height: 65vw;
  position: relative;

  @media all and (min-width: $container-width) {
    min-height: 840px;
    margin-top: -500px;
  }
  @media all and (max-width: $img-max) { min-height: 585px; }

  > img {
    position: absolute;
    right: 0;
    min-width: $img-max;
    max-width: 100%;
    max-height: 100%;
  }

  #gondola {
    top: 0;
    z-index: 1;

    @media all and (max-width: $phone-landscape) { right: -100px; }
  }

  #mountains {
    bottom: 0;
  }
}
