nav#header {
  display: flex;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  width: 100%;
  max-width: $container-width;
  @include nav-height(height);

  padding: 0 16px;
  @media all and (max-width: $tablet) {
    padding: 0 4px;
  }

  background-color: $white;
  color: $red;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 300ms;

  &.scrolled {
    border-bottom-color: $red;
  }

  @media all and (max-width: $tablet) {
    &.opened {
      border-bottom-color: transparent;
    }
  }

  .menu-item {
    text-transform: uppercase;
    cursor: default;

    a {
      color: $red;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  .left {
    display: flex;
    align-items: center;

    position: relative;
    width: 0;
    overflow: visible;

    a {
      display: flex;
      align-items: center;
      position: absolute;
      min-width: 240px;

      img {
        max-width: 100%;
      }

      @media all and (max-width: $tablet) {
        min-width: 136px;
      }
    }
  }

  .middle {
    display: flex;

    margin-left: auto;
    margin-right: auto;

    > .menu-item {
      $menu-width: 140px;
      $menu-padding: 8px 16px;

      display: flex;
      align-items: center;
      width: $menu-width;
      padding: $menu-padding;

      position: relative;

      border: 1px solid transparent;

      &:nth-of-type(2) {
        border-left-color: $red;
        margin-left: -1px;
      }

      // Dropdown menu
      .dropdown-toggle {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
      }

      .icon {
        margin-left: 8px;
        width: 14px;
        height: 14px;
        display: none;

        &.down { display: block; }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .dropdown {
        display: none;
        position: absolute;
        font-size: $font-sm;
        top: 100%;
        left: 0;

        width: $menu-width;
        margin-top: -1px;
        margin-left: -1px;

        border: 1px solid;
        background-color: $white;

        padding: $menu-padding;

        > .menu-item {
          text-transform: none;
          padding: 8px 0;
        }
      }

      // Any opened state
      &:hover, &.opened {
        border: 1px solid;

        .dropdown {
          display: block;
        }
      }

      // Only "stuck" open (via tap on mobile)
      &.opened {
        .icon.down { display: none; }
        .icon.up { display: block; }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    text-align: right;
    position: relative;
    max-width: 0;
    overflow: visible;
    height: 100%;

    > a {
      position: absolute;
      min-width: auto;
      white-space: nowrap;
      right: $space-default;
    }
  }

  // Mobile
  #mobile-menu, #mobile-menu-content {
    display: none;
  }

  @media all and (max-width: $tablet) {
    .desktop-menu { display: none; }

    #mobile-menu {
      display: flex;
      margin-left: auto;

      button {
        display: flex;
        align-items: center;
        padding: $space-default;

        &:active {
          top: auto;
          left: auto;
        }

        .icon {
          display: flex;
          align-items: center;
          margin-left: $space-default;

          #icon-open {
            display: block;
          }

          #icon-close {
            display: none;
          }
        }
      }
    }

    &.opened {
      #mobile-menu {
        .icon {
          #icon-open {
            display: none;
          }

          #icon-close {
            display: block;
          }
        }
      }
    }
  }
}

#mobile-menu-content {
  // font-size: $font-mobile;

  position: fixed;
  left: 0;
  top: -120vh;
  z-index: 99;
  overflow-y: auto;

  @include nav-height(padding-top);
  padding-left: $space-xl;
  padding-right: $space-xl;

  width: 100vw;
  height: 100vh;

  background-color: $red-lt;
  color: $white;

  transition: top 300ms linear;

  .section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: $space-xl;

    .heading a {
      text-transform: uppercase;
      border-bottom: 1px solid $white;
    }

    .left, .right { width: 140px; }
    .left { margin-right: $space-lg; text-align: right; }
    .right { margin-left: $space-lg; }
  }

  ul li {
    margin-top: $space-lg;
  }
}

@media all and (min-width: $tablet) {
  #mobile-menu-content {
    display: none;
  }
}

@media all and (max-width: $tablet) {
  #mobile-menu-content.opened {
    top: 0;
  }

  nav#header.opened {
    box-shadow: 0 0 5px 0 $black;
  }
}

@media all and (min-width: $container-width) {
  nav#header {
    left: 50%;
    margin-left: -($container-width / 2);
  }
}
