// shared between Our Work and Our People
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100vh - #{$nav-height});

  display: flex;
  align-items: center;

  width: 320px;

  padding-left: 120px;
  padding-right: $space-lg;
  margin-top: $nav-height;

  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;

  &.active {
    opacity: 1;
  }

  .title {
    position: absolute;
    transform: rotate(270deg);
    left: 0;
    top: 50%;
    height: 32px;
    margin-top: -16px;

    @extend %banner-text;
    font-size: $font-default;
    color: $red;
    border-bottom: 1px solid;
    padding: 0 $space-lg $space-lg;
  }

  // 'Our work' badges
  .badge {
    display: flex;
    align-items: center;
    width: 100%;
    padding: $space-default 0;

    img {
      max-width: 60px;
    }

    .label {
      display: none;
      font-size: $font-default;
      margin-top: 0;
      margin-left: $space-lg;
      text-align: left;
    }

    &:hover, &.active {
      .label {
        display: block;
      }
    }
  }

  // 'Our people' list of names
  .person {
    display: inline-block;
    color: $red;
    margin: $space-lg;
    border-bottom: 2px solid transparent;

    &.active, &:hover, &:focus {
      font-weight: 700;
      border-color: $red;
    }
  }
}

// Move to top
@media all and (max-width: $tablet) {
  .sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $nav-height-sm;
    margin-top: $nav-height-sm;
    padding: 0;
    z-index: 10;
    background-color: $white;
    box-shadow: 0 2px 5px -2px;

    &#people-sidebar {
      display: none;
    }

    .title {
      transform: none;
      position: relative;
      left: 0;
      top: 0;
      height: auto;
      margin: 0;
      margin-left: $space-default;
      padding: 0;
      border-bottom: 0;
    }

    .badges, .people {
      display: flex;
    }

    .badge, .person {
      &:hover, &:focus, &.active {
        .label {
          display: none;
        }
      }
    }

    .badge {
      margin: 0 $space-default;
    }

    .badge img {
      max-width: 40px;
    }
  }
}

@media all and (max-height: $height-limit), all and (max-width: $phone-portrait) {
  #badges-sidebar {
    display: none;
  }
}

@media all and (max-height: 400px), all and (max-width: $phone-portrait) {
  #people-sidebar {
    display: none;
  }
}
