<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Lambert Intellectual Property Law | {{ page.title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,700" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>

<body class="{{ page.title | downcase | remove: " "}}">
  <div id="main-container">
    {% include nav.html %}

    <div class="content">
      {{ content }}
    </div>

    {% include footer.html %}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="./js/script.js"></script>
</body>

</html>
